@model List<Product>

<div class="container">
    <div class="row">
        <a class="btn btn-success" asp-controller="Product" asp-action="Create">Create+</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">MainImage Path</th>
                    <th scope="col">HoverImage Path</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model)
                {
                    <tr>
                        <th scope="row">@product.Id</th>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td> <img src="~/assets/images/website-images/@product.MainImagePath" width="40" ,height="40" alt="Alternate Text" /></td>
                        <td> <img src="~/assets/images/website-images/@product.HoverImagePath" width="40" ,height="40" alt="Alternate Text" /></td> 
                        <td>@product.Price</td>
                        <td>@product.Category.Name</td>
                        <td>
                            <a class="btn btn-info" asp-controller="Product" asp-action="Update" asp-route-id="@product.Id">Update</a>
                            <a class="btn btn-danger deleteBtn" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@* <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const deleteBtn=document.querySelectorAll(".deleteBtn")
    deleteBtn.forEach(btn=>{
        btn.addEventListener("click",(e)=>{
            e.preventDefault;
        })
            Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: "Deleted!",
          text: "Your file has been deleted.",
          icon: "success"
        });

        window.location.href=btn.href
      }
    });
    })
           
        

</script> *@


